/*
    RMIT University Vietnam
    Course: COSC2430 Web Programming 
    Swmester: 2023A
    Assessment: Assignment 1
    Author: Ong Gia Man
    ID: 3938231
    Acknowledgement:
*/

@font-face {
    font-family: "Proxima Nova";
    src: url('Proxima-Nova-Font/Proxima Nova Font.otf') 
    format('opentype');
}

:root{
    --forest-green: #224B0C;
    --light-sage: #C1D5A4;
    --pale-yellow-green: #F0F2B6;
    --yellowish-white: #FCF8E8;
    --rose-light-pink: #CF918D;
}

html {
    scroll-behavior: smooth;
  }  

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    line-height: 1.2;
}

body {
    background-color: var(--yellowish-white);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proxima Nova';
}

/* Style Header*/
.nav-bar-1 {
    background-color: var(--forest-green);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}

.nav1-category li{
    display: inline-block;
    list-style: none;
    font-size: 18px;
    margin: 16px;
}

.nav1-category li a {
    text-decoration: none;
    color: var(--light-sage);
}

header .user-tools {
    display: flex;
    flex-direction: row;
    gap: 48px
}

header .user-tools li{
    display: inline-block;
    list-style: none;
    color: var(--light-sage);
}

header .user-tools li i{
    display: inline-block;
    list-style: none;
    font-size: 20px;
}

/*Footer*/

.footer {
    background-color: var(--forest-green);
}

.footer nav {
    margin: 0 48px;
    box-sizing: border-box;
    border: solid black 2px;
}

footer .nav-bar-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 16px;
}

footer .nav-bar-2 >* {
    width: 150px;
}


footer .about-us {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 40px;
}

footer .nav-bar-2 a {
    text-decoration: none;
    color: var(--light-sage);
}
  

footer .header {
    color: var(--light-sage);
}

footer .contact-us {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 24px;
}

footer .social-media-icon ul li {
    display: inline-block;
    margin-right: 10px;
}

/*HOMEPAGE*/ 
/*Hero Area*/
.hero-area {
    border: solid black 2px
}

header .hero-area .container {
    display: flex;
    flex-flow: row wrap;
    max-width: 600px;
    height: 500px;
    align-items: center;
    position: relative;
}

header .hero-area .cta-1 {
    max-width: 300px;
    height: auto;
    position: absolute;
    left: 72px;
}

/*Quotes*/ 
main .quotes {
    border: solid black 2px;
    margin: 56px 0px;
    display: flex;
    justify-content: center;
}

main .quotes .container {
    margin: 16px;
    width: 300px;
}

main .quotes .line {
    background-color: black;
    width: 200px;
    height: 2px;
    margin: 16px auto;
  }
  
/*Category*/
main .category {
    border: solid black 2px;
    margin: 56px 0px;
}

main .category .product{
    border: solid black 2px;
    display: flex;
    flex-wrap: wrap;
}

main .category .cards {
    border: solid black 2px;
}

main .category .cate-name {
    text-align: center;
    margin: 16px;
    border: solid red;
}

main .category .cate-container {
    border: solid blue;
    margin-bottom: 56px;;
}